<!DOCTYPE html>
<html ng-app="appLiveLesson">

<head>
    <title>שיעור לייב </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">
    <link href="css/myStyle.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="js/liveLesson.js"></script>
</head>

<body ng-controller="liveLessonController">
    <div id="container" ng-if="!bIsFollow">



        <div ng-if="directionCounter">

            <h1>
                דוח סיכום
               
            </h1>
            <div id="conclusion">
                <br> היית {{directionCounter.Right}} שניות בימין
                <br> היית {{directionCounter.Left}} שניות בשמאל
                <br> היית {{directionCounter.Back}} שניות מאוחר
                <br> היית {{directionCounter.Front}} שניות מקדימה
            </div>


        </div>


        <br>
        <br>
        <br>

        <div dir="rtl" id="info" ng-if="directionCounter == null">
            <input placeholder="שם השיעור">
            <input placeholder="משך זמן משוער">



            <div id="start" ng-click="startFollow()">


                התחל מעקב

            </div>
        </div>

    </div>

    <div ng-if="bIsFollow" ng-class="{'green-squre': previousPosition.count <= 30 , 'yellow-squre': (previousPosition.count > 30) && (previousPosition.count <= 60) , 'red-squre': previousPosition.count > 60}">

        <br>
        <br>
        <br>
        <span ng-if="currentPosition">
            מקומך הנוכחי - {{currentPosition}}
        </span>
        <br>
        <br>

        <span ng-if="previousPosition.count <= 30" class="alert-text">
            !איזה יופי
        </span>
        <span ng-if="(previousPosition.count > 30) && (previousPosition.count <= 60)" class="alert-text">
            !אתה כבר מלא זמן תקוע באותו המקום
        </span>
        <span ng-if="previousPosition.count > 60" class="alert-text">
            !תזיז ת'תחת כבר מהמקום הזה
        </span>

        <br>
        <br>
        <br>

        <!--Maayans code-->

        <div class="center">
            <canvas class="col-md-8 col-md-offset-2" canvasboard width="600" height="275"></canvas>
        </div>

        <div>
            <button id="BtnGoUp" ng-click="stopFollow()">
                סיים מעקב
            </button>
        </div>



    </div>
</body>

</html>